<div class="space-y-6">
  <div class="p-4 sm:p-6">
    <div
      class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-4 md:space-y-0"
    >
      <div class="flex-shrink-0">
        <h2 class="text-2xl font-bold text-gray-900">Almacenes</h2>
        <p class="text-sm text-gray-500">Gestiona, edita y organiza tus almacenes fácilmente.</p>
      </div>

      <div class="flex space-x-3 flex-shrink-0">
        <button
          class="flex items-center px-4 py-2 text-sm font-semibold rounded-lg text-white bg-blue-600 hover:bg-blue-700 transition duration-150 shadow-lg"
          aria-haspopup="dialog"
          aria-expanded="false"
          aria-controls="hs-ai-registro-modal"
          data-hs-overlay="#hs-ai-registro-modal"
        >
          <svg
            class="size-5 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="12" x2="12" y1="5" y2="19" />
            <line x1="5" x2="19" y1="12" y2="12" />
          </svg>
          Nuevo
        </button>

        <button
          class="hidden sm:flex items-center px-4 py-2 text-sm font-semibold rounded-lg text-gray-700 bg-gray-100 hover:bg-gray-200 transition duration-150 border border-gray-300"
        >
          <svg
            class="size-5 mr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v3" />
            <polyline points="14 2 14 8 20 8" />
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
            <polyline points="8 12 12 16 16 12" />
          </svg>
          Exportar
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white p-4 sm:p-6 rounded-xl shadow-md border border-gray-200">
    <div class="flex justify-between">
      <div class="flex flex-col sm:flex-row items-start sm:items-center gap-3 w-full">
        <h3 class="text-md font-semibold text-gray-800 flex-shrink-0">Filtros:</h3>

        <div class="relative flex-grow sm:flex-grow-0 w-full sm:w-64">
          <input
            type="text"
            placeholder="Buscar por ID, Responsable..."
            class="w-full p-2 pl-10 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500 text-sm transition"
          />
          <svg
            class="absolute left-3 top-1/2 transform -translate-y-1/2 size-4 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8" />
            <line x1="21" y1="21" x2="16.65" y2="16.65" />
          </svg>
        </div>

        <select
          class="p-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring-blue-500 text-sm w-full sm:w-auto flex-shrink-0"
        >
          <option value="Todos">Todos los Almacenes</option>
          <option value="Central">Central</option>
          <option value="Sucursal A">Sucursal A</option>
        </select>

        <div class="flex space-x-2 w-full sm:w-auto flex-shrink-0">
          <button
            class="px-4 py-2 text-sm font-semibold rounded-lg text-white bg-blue-600 hover:bg-blue-700 transition duration-150 w-full"
          >
            Aplicar
          </button>
          <button
            class="px-4 py-2 text-sm font-semibold rounded-lg text-gray-700 bg-gray-100 hover:bg-gray-200 transition duration-150 w-full"
          >
            Limpiar
          </button>
        </div>
      </div>
      <app-options-views [vistaActiva]="dataView" (accionClick)="onTipoVista($event)" />
    </div>
  </div>
  <!-- LOADER -->
  @if (loading()) {
  <app-skeleton></app-skeleton>
  }

  <!-- Empty State -->
  @if (this.almacenesResource.value()?.almacenes?.length == 0) {
  <app-empty-message Title="Almacenes"></app-empty-message>
  }

  <!-- Tabla usando componente separado -->
  @if ((this.almacenesResource.value()?.almacenes?.length ?? 0) > 0) {

  @if(dataView == 'tabla'){
  <app-table
    [almacenes]="this.almacenesResource.value()?.almacenes || []"
    [loading]="loading()"
    [showActions]="true"
    [showPagination]="true"
    (accionClick)="onAccionTabla($event)"
    (buscar)="onBuscarAlmacenes($event)"
  />
  } @if(dataView == 'card') {
  <app-cards
    [almacenes]="this.almacenesResource.value()?.almacenes || []"
    [loading]="loading()"
    [showActions]="true"
    [showPagination]="true"
    (accionClick)="onAccionTabla($event)"
    (buscar)="onBuscarAlmacenes($event)"
  ></app-cards>
  } }
</div>

<app-registro-almacenes-page
  (almacenGuardado)="onAlmacenGuardado($event)"
  (modalCerrado)="onModalCerrado()"
/>

<app-detalle-almacenes-page
  [almacen]="almacenSeleccionado()"
  (cerrarModal)="cerrarModalDetalle()"
/>
